h1, h2, p, li, ul, body, a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f6e0c3;
  color: #29103b;
  padding: 120px;
}

body.isDark, body.isDark a, body.isDark h1 {
  color: rgba(255, 255, 255, .87);
  border-bottom-color: rgba(255, 255, 255, .87);
}

body.isLight, body.isLight a, body.isLight h1 {
  color: rgba(0, 0, 0, .87);
  border-bottom-color: rgba(0, 0, 0, .87);
}

body.isClickable img {
  cursor: pointer;
}

body, header, section, footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

header, section, footer {
  grid-column: 1/-1;
  margin: 10px 0 10px 0;
}

header {
  padding-bottom: 120px;
}

@media only screen and (max-width: 700px) {
  body, header, section, footer {
    grid-template-columns: 1fr;
  }

  body {
    padding: 30px;
  }
}

h1, h2, p, li, a {
  font-size: 17px;
  font-weight: normal;
  line-height: 1.5;
}

a {
  color: #29103b;
  border-bottom: #29103b solid 1px;
  transition: opacity 0.2s ease-in-out;
}

a:hover, a:focus {
  outline: none;
  opacity: 0.5;
}

.wide, img, video {
  grid-column: 1/-1;
  width: 100%;
  justify-self: center;
  margin-top: 60px;
}

.wide {
  background: #334cfb;
  height: 450px;
}
