body {
  font-family: serif;
  margin: 0;
  background: #fff7ed;
  color: black;
}

header, section {
  width: 100vw;
  max-width: 400px;
  margin: 100px 200px;
}

@media only screen and (max-width: 800px) {
  header, section {
    margin-left: 0 !important;
  }
}

h1 {
  font-size: 100px;
  font-weight: 300;
  margin: 30px 20px;
  word-break: break-word;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

header p {
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.5px;
  margin: 10px 20px;
}

p {
  font-size: 18px;
  margin: 30px 20px;
}

a {
  color: black;
  opacity: 0.5;
}

a:hover {
  opacity: 1;
}

a[href*="//"] {
  background-position: center right;
  background-repeat: no-repeat;
  background-image: linear-gradient(transparent,transparent),url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2212%22 height=%2212%22%3E %3Cpath fill=%22%23fff7ed%22 stroke=%22black%22 d=%22M1.5 4.518h5.982V10.5H1.5z%22/%3E %3Cpath fill=%22black%22 d=%22M5.765 1H11v5.39L9.427 7.937l-1.31-1.31L5.393 9.35l-2.69-2.688 2.81-2.808L4.2 2.544z%22/%3E %3Cpath fill=%22%23fff7ed%22 d=%22M9.995 2.004l.022 4.885L8.2 5.07 5.32 7.95 4.09 6.723l2.882-2.88-1.85-1.852z%22/%3E %3C/svg%3E");
  padding-right: 13px;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}
