body {
  background: #e6af4b;
  color: #334431;
}

header, section {
  margin: 20px;
}

h1 {
  -webkit-text-stroke-color: #334431;
  font-size: 80px;
}

a {
  color: #334431;
}

.container {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  max-width: 100vw;
  margin: 0;

  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.messages {
  width: 100%;
  max-width: 400px;
  text-align: right;
}

.message {
  font-size: 20px;
  padding: 5px 12px;
  margin: 0;
  border-right: 2px solid #334431;
}

em {
  background-image: linear-gradient(#e05038, #e05038);
  background-repeat: repeat-x;
  background-size: 2px 2px;
  background-position: 0 21px;
}

input {
  width: 100%;
  background: #d8a446;
  color: #334431;
  outline: none;
  border: none;
  border-bottom: 2px solid #334431;
  font-family: serif;
  font-size: 20px;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 20px; 
}
