body {
  background: #34318F;
  color: #d4d1ff;
}

header, section {
  margin: 20px;
}

h1 {
  -webkit-text-stroke-color: #d4d1ff;
  font-size: 80px;
}

a {
  color: #d4d1ff;
}

.car {
    position: absolute;
}

.car::after {
    content: '+';
}
