body {
  background: #fbfbfb;
  color: #777777;
}

h1 {
  -webkit-text-stroke-color: #888888;
  font-size: 64px;
}

a {
  color: #777777;
}

li {
	margin-bottom: -4px;
}

header, section {
  position: relative;
  max-width: 400px;
}